version: '3.9'

services:
  app:
    build: .
    environment:
      DB_HOST: dpg-d4dr46hr0fns73fs91fg-a.oregon-postgres.render.com
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8081:8081"
